body {
    

}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

img {
    max-width: 100%;
}

p {
    text-indent: 10px;
}

.row {
    width: 100%;
    margin-left: 0;
}

.col {
  margin-left: 10px;
  margin-right: 10px;
}

.marginAdd {
    display: none;
}

.mirador-canvas-nav {
    display: none !important;
}

.supraAdd {
    font-size: smaller;
    position: relative;
    top: -0.5em;
}

.navbuttons {
    text-align: center;
}

.circled {
    border-radius: 50%;
    border: 1px solid rgb(0, 0, 0);
    width: 1.5em;
    height: 1.5em;
    text-align: center;
    line-height: 1.5em;
    display: inline-block;
    margin: 0 0.5em;
    float: right;
}

.navbuttons a {
    font: oblique;
    
}




